* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgb(14, 14, 91);
  flex-wrap: wrap;
  background-image: url('assets/four.jpg') ;
background-size: cover;
  background-repeat: no-repeat;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
}

.fill {
  background-image: url("./assets/four.jpg");
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
}

.dragging {
  border: 10px solid #ccc;
  border-radius: 10px;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
  border-radius: 10px;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
